### Matthew Collins
#### DSC680
#### Project 3 - COVID Story

In [1]:
# Import libraries

import pandas as pd

In [4]:
# Load confirmed cases covid data for the US

df_confirmed = pd.read_csv('time_series_covid19_confirmed_US.csv')

In [5]:
df_confirmed.shape

(3342, 747)

In [3]:
# check the confirmed dataframe

df_confirmed.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/17/2022,1/18/2022,1/19/2022,1/20/2022,1/21/2022,1/22/2022,1/23/2022,1/24/2022,1/25/2022,1/26/2022
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,12682,12738,12833,12928,13019,13133,13191,13251,13320,13251
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,46893,47143,47662,48338,49168,49682,50003,50313,50660,50313
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,4713,4741,4800,4843,4902,4993,5025,5054,5053,5054
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,5302,5385,5486,5565,5663,5747,5779,5795,5827,5795
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,12579,12648,12825,13005,13131,13259,13362,13427,13485,13427

In [14]:
# Transform the datafram from wide to long format

confirmed = pd.melt(df_confirmed, id_vars = df_confirmed.columns[:11],
                   value_vars = df_confirmed.columns[11:],
                   var_name = 'date',
                   value_name = 'confirmed')

# View the new dataframe

confirmed.tail()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,date,confirmed
2459707,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",1/26/2022,9121
2459708,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",1/26/2022,5167
2459709,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,"Unassigned, Wyoming, US",1/26/2022,0
2459710,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",1/26/2022,2093
2459711,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",1/26/2022,1408

In [6]:
# Load the confirmed covid death data for the US

df_death = pd.read_csv('time_series_covid19_deaths_US.csv')

In [8]:
df_death.shape

(3342, 748)

In [7]:
# check the deaths dataframe

df_death.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/17/2022,1/18/2022,1/19/2022,1/20/2022,1/21/2022,1/22/2022,1/23/2022,1/24/2022,1/25/2022,1/26/2022
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,163,163,163,163,163,163,163,163,165,163
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,605,605,605,607,608,608,608,608,610,608
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,83,83,83,83,83,83,83,83,84,83
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,95,95,95,95,95,95,95,95,95,95
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,203,203,203,204,204,204,204,204,206,204

In [16]:
# Transform the datafram from wide to long format

death = pd.melt(df_death, id_vars = df_death.columns[:12],
                   value_vars = df_death.columns[12:],
                   var_name = 'date',
                   value_name = 'deaths')

# View the new dataframe

death.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,date,deaths
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,1/22/2020,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,1/22/2020,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,1/22/2020,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,1/22/2020,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,1/22/2020,0

In [22]:
# Merge the tables

data = confirmed.merge(death, how = 'inner', on = ['UID', 'iso2', 'iso3', 'code3', 'FIPS',
                                                   'Admin2', 'Province_State', 'Country_Region',
                                                   'Lat', 'Long_', 'Combined_Key', 'date'])

In [23]:
# View the merged data
data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,date,confirmed,Population,deaths
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",1/22/2020,0,55869,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/2020,0,223234,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",1/22/2020,0,24686,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",1/22/2020,0,22394,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",1/22/2020,0,57826,0

In [24]:
list(data)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 'date',
 'confirmed',
 'Population',
 'deaths']

In [25]:
# Create a csv file to use in PowerBI

data.to_csv('covid_us_death_confirmed_data.csv')

In [28]:
# Check the shape of the dataframe

data.shape

(2459712, 15)

In [30]:
# Check for missing values

data.isnull().sum()

UID                  0
iso2                 0
iso3                 0
code3                0
FIPS              7360
Admin2            4416
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Combined_Key         0
date                 0
confirmed            0
Population           0
deaths               0
dtype: int64